{% extends "base_generic.html" %}

{% block content %}


<style>
  /* Hide the form by default */
  #myForm {
    display: none;
    position: fixed; /* Stay in place when scrolling */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }

  /* Style the form content */
  .form-content {
    background-color: white;
    margin: 15% auto; /* 15% from top & center */
    padding: 20px;
    border: 1px solid #f1f1f1;
    width: 30%;
    text-align: center;
  }

  /* Close button inside form */
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }

  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
</style>

<ul>
  <li><a>Invites</a></li>
  <li><button onclick="document.getElementById('myForm').style.display = 'block'">Create groups</button></li>

  <div id="myForm" class="form-content">
    <span class="close" onclick="document.getElementById('myForm').style.display = 'none'">&times;</span>
    <form action="/submit" method="post">
      <label for="fname">Enter your name:</label>
      <input type="text" id="fname" name="fname" placeholder="Your Name"><br><br>
      <button type="submit">Submit</button>
    </form>
  </div>


  <li><a>My groups</a></li>

  {% if groups_list %}
    <ul>
      {% for groups in groups_list %}
      <li> {{groups.display_name}} </li>
      {% endfor %}
    </ul>
    {% else %}
      <p>All clear!</p>
  {% endif %}

</ul>

{% endblock %}