{% extends "base_generic.html" %}

{% block content %}
  <h1>Recipe Nook Home</h1>
  <p>
    A home for all your recipes! Save, share, and plan.
  </p>
  <h2>How to use</h2>
  <p>You can save recipes for your personal use or join/create a Group. Members of each
     Group can all view and edit each other's recipes. The following is a comprehensive list of features:</p>
     <ul>
        <li>Edit servings and add recipes to a grocery list. Find an approximate price point of the grocery list to make all selected recipes.</li>
        <li>Convert recipes from a website into a clean format.</li>
    </ul>
{% endblock %}