{% extends "base_generic.html" %}

{% block content %}
  <h1>Recipe Nook Home</h1>
  <p>
    A home for all your recipes! Save, share, and plan.
  </p>
  <h2>How to use</h2>
  <p>You can save recipes for your personal use or join/create a group (such as "roommates", "family", etc.). Members of each
     group can all view and edit each other's recipes. The following is a list of planned features:</p>
     <ul>
        <li>Convert recipes from websites, photographs.</li> 
        <li>Edit servings and add recipes to a grocery list.</li> 
        <li>Find an approximate price point of the grocery list; compare prices of different lists.</li>
        <li>Convert recipes from a website into a clean format.</li>
        <li>Seamlessly apply substitutions to recipes.</li>

    </ul>
{% endblock %}